.navbar-brand img {
  width: 130px;
}
.feature-item img {
  width: 50px;
  height: auto;
}
.subcribe {
  background-image: url(./img/subscribe.jpg);
  background-size: cover;
  background-position: center;
}
.brand-icon {
  width: 130px;
  height: auto;
}
.copy-right {
  background-color: #000;
}
.blur-filter {
  backdrop-filter: blur(8px);
  background-color: #cccccc1c;
}
